/* ========================================
 *
 * Copyright YOUR COMPANY, THE YEAR
 * All Rights Reserved
 * UNPUBLISHED, LICENSED SOFTWARE.
 *
 * CONFIDENTIAL AND PROPRIETARY INFORMATION
 * WHICH IS THE PROPERTY OF your company.
 *
 * ========================================
*/
/* 

This file should be tailored to match the hardware design that is specified in 
TopDesign.cysch and Design Wide Resources/Pins (the .cydwr file).

There should be one element of the spi[] array for each hardware SPI, and the 
name prefix (e.g.: "SPI_1") will depend on the name given in TopDesign.
Each SPI needs its own interrupt callback function that specifies the correct 
element in the spi[] array. E.g.: spi[0]. 

There should be one element of the sd_cards[] array for each SD card slot. 
(There is no corresponding component in TopDesign.) 
The name is arbitrary. The rest of the constants will depend on the type of socket,
which SPI it is driven by, and how it is wired.

*/


#include <string.h>

/* FreeRTOS includes. */
#include "FreeRTOSFATConfig.h"

// Make it easier to spot errors:
#include "project.h" 
#include "hw_config.h"

// SPI Interrupt callbacks
void SysSDCrd0_SPI_handle_event(uint32_t event);
void UserSDCrd_SPI_handle_event(uint32_t event);

// Hardware Configuration of SPI "objects"
static spi_t spi[] = { 
		{
			.base = SysSDCrd0_SPI_HW, // SPI component
			.context = &SysSDCrd0_SPI_context, // SPI component
			.config = &SysSDCrd0_SPI_config, // SPI component
			.dividerType = SysSDCrd0_SPI_SCBCLK_DIV_TYPE, // Clock divider for setting frequency
			.dividerNum = SysSDCrd0_SPI_SCBCLK_DIV_NUM, // Clock divider for setting frequency
			.spi_miso_port = SysSDCrd0_SPI_miso_m_0_PORT, // Refer to Design Wide Resouces, Pins, in the .cydwr file
			.spi_miso_num = SysSDCrd0_SPI_miso_m_0_NUM, // MISO GPIO pin number for pull-up (see cyfitter_gpio.h)
			.intcfg = &SysSDCrd0_SPI_SCB_IRQ_cfg, // Interrupt
			.userIsr = &SysSDCrd0_SPI_Interrupt, // Interrupt
			.callback = SysSDCrd0_SPI_handle_event, // Interrupt callback
			.initialized = false,
			.owner = 0, // Owning task, assigned dynamically
			.mutex = 0  // Guard semaphore, assigned dynamically
		}, {
			.base = UserSDCrd_SPI_HW, // SPI component
			.context = &UserSDCrd_SPI_context, // SPI component
			.config = &UserSDCrd_SPI_config, // SPI component
			.dividerType = UserSDCrd_SPI_SCBCLK_DIV_TYPE, // Clock divider for setting frequency
			.dividerNum = UserSDCrd_SPI_SCBCLK_DIV_NUM, // Clock divider for setting frequency
			.spi_miso_port = UserSDCrd_SPI_miso_m_0_PORT, // Refer to Design Wide Resouces, Pins, in the .cydwr file
			.spi_miso_num = UserSDCrd_SPI_miso_m_0_NUM, // MISO GPIO pin number for pull-up
			.intcfg = &UserSDCrd_SPI_SCB_IRQ_cfg, // Interrupt
			.userIsr = &UserSDCrd_SPI_Interrupt,  // Interrupt
			.callback = UserSDCrd_SPI_handle_event, // Interrupt callback
			.initialized = false,			
			.owner = 0, // Owning task, assigned dynamically
			.mutex = 0  // Guard semaphore, assigned dynamically
		}
};

// Card Detect Port Interrupt Service Routines
void gpio_port12_ISR();

// Hardware Configuration of the SD Card "objects"
static sd_t sd_cards[] = { 	// One for each SD card
	{ 
		.pcName = "SysSDCrd0",   // Name used to mount device
		.spi = &spi[0], // Pointer to the SPI driving this card
		.ss = SysSDCrd0_SPI_SPI_SLAVE_SELECT0, // The SPI slave select line for this SD card
		.card_detect_gpio_port = Sys_SDCrd0_Detect_PORT, // Card detect
		.card_detect_gpio_num = Sys_SDCrd0_Detect_NUM, // Card detect
		.card_detect_gpio_port_int_cfg = &GPIO_Port_12_Interrupt_cfg,
		.card_detect_gpio_ISR = gpio_port12_ISR,
		.card_detect_task = 0,            
		.card_detected_true = 1, // truth is 1
		.m_Status = 0, 
		.sectors = 0, 
		.card_type = 0, 
		.mutex = 0, 
		.ff_disk = 
			{  // struct xFFDisk
				{ // xStatus
					.bIsInitialised = 0,
					.bIsMounted = 0,
					.spare0 = 0,
					.bPartitionNumber = 0,
					.spare1 = 0
				},
	/* The pvTag member of the FF_Disk_t structure allows the structure to be
	 extended to also include media specific parameters.  */                
				.pvTag = &sd_cards[0], // Pointer to enclosing sd_t
				.pxIOManager = NULL,
				.ulNumberOfSectors = 0,
				.fnFlushApplicationHook = NULL,
				.ulSignature = 0
			}
	}, {
		.pcName = "UserSDCrd",  // Name used to mount device
		.spi = &spi[1], // Pointer to the SPI driving this card
		.ss = UserSDCrd_SPI_SPI_SLAVE_SELECT0, // The SPI slave select line for this SD card
		.card_detect_gpio_port = UserSDCrd_Detect_PORT, // Card detect
		.card_detect_gpio_num = UserSDCrd_Detect_NUM, // Card detect
		.card_detect_gpio_port_int_cfg = NULL, // Shared with sd_cards[0]
		.card_detect_gpio_ISR = NULL,  // Shared with sd_cards[0]
		.card_detect_task = 0,            
		.card_detected_true = 0, // truth is 0
		.m_Status = 0, 
		.sectors = 0, 
		.card_type = 0, 
		.mutex = 0,
		.ff_disk = 
			{ // struct xFFDisk
				{ // xStatus
					.bIsInitialised = 0,
					.bIsMounted = 0,
					.spare0 = 0,
					.bPartitionNumber = 0,
					.spare1 = 0
				},
				.pvTag = &sd_cards[1], // Pointer to enclosing sd_t
				.pxIOManager = NULL,
				.ulNumberOfSectors = 0,
				.fnFlushApplicationHook = NULL,
				.ulSignature = 0
			}
		
	}		
};

/* Combine SPI master error statuses in single mask */
#define MASTER_ERROR_MASK  (CY_SCB_SPI_SLAVE_TRANSFER_ERR  | CY_SCB_SPI_TRANSFER_OVERFLOW    | \
							CY_SCB_SPI_TRANSFER_UNDERFLOW)  

// Callback function called in the Cy_SCB_SPI_Interrupt to notify the user about occurrences of SPI Callback Events.
// Each SPI has its own interrupt and callback.
// Notifies task when a transfer is complete.
void SysSDCrd0_SPI_handle_event(uint32_t event) {
	// CY_SCB_SPI_TRANSFER_CMPLT_EVENT   (0x02U)
	// The transfer operation started by Cy_SCB_SPI_Transfer is complete.
	if (CY_SCB_SPI_TRANSFER_CMPLT_EVENT == event) {
		/* The xHigherPriorityTaskWoken parameter must be initialized to pdFALSE as
		 it will get set to pdTRUE inside the interrupt safe API function if a
		 context switch is required. */
		BaseType_t xHigherPriorityTaskWoken = pdFALSE;
		/* Send a notification directly to the task to which interrupt processing is
		 being deferred. */
		configASSERT(spi[0].owner);
		vTaskNotifyGiveFromISR(spi[0].owner, // The handle of the task to which the notification is being sent.
				&xHigherPriorityTaskWoken);
		/* Pass the xHigherPriorityTaskWoken value into portYIELD_FROM_ISR(). If
		 xHigherPriorityTaskWoken was set to pdTRUE inside vTaskNotifyGiveFromISR()
		 then calling portYIELD_FROM_ISR() will request a context switch. If
		 xHigherPriorityTaskWoken is still pdFALSE then calling
		 portYIELD_FROM_ISR() will have no effect. */
		portYIELD_FROM_ISR(xHigherPriorityTaskWoken);
	} else {
		if (MASTER_ERROR_MASK & event) {
			DBG_PRINTF("SysSDCrd0_SPI_handle_event. Event: 0x%lx\n", event);
			configASSERT(!(MASTER_ERROR_MASK & event));            
		}
	}
}

// Callback function called in the Cy_SCB_SPI_Interrupt to notify the user about occurrences of SPI Callback Events.
// Each SPI has its own interrupt and callback.
// Notifies task when a transfer is complete.
void UserSDCrd_SPI_handle_event(uint32_t event) {
	// CY_SCB_SPI_TRANSFER_CMPLT_EVENT   (0x02U)
	// The transfer operation started by Cy_SCB_SPI_Transfer is complete.
	if (CY_SCB_SPI_TRANSFER_CMPLT_EVENT == event) {
		/* The xHigherPriorityTaskWoken parameter must be initialized to pdFALSE as
		 it will get set to pdTRUE inside the interrupt safe API function if a
		 context switch is required. */
		BaseType_t xHigherPriorityTaskWoken = pdFALSE;
		/* Send a notification directly to the task to which interrupt processing is
		 being deferred. */
		configASSERT(spi[1].owner);
		vTaskNotifyGiveFromISR(spi[1].owner, // The handle of the task to which the notification is being sent.
				&xHigherPriorityTaskWoken);
		/* Pass the xHigherPriorityTaskWoken value into portYIELD_FROM_ISR(). If
		 xHigherPriorityTaskWoken was set to pdTRUE inside vTaskNotifyGiveFromISR()
		 then calling portYIELD_FROM_ISR() will request a context switch. If
		 xHigherPriorityTaskWoken is still pdFALSE then calling
		 portYIELD_FROM_ISR() will have no effect. */
		portYIELD_FROM_ISR(xHigherPriorityTaskWoken);
	} else {
		if (MASTER_ERROR_MASK & event) {
			DBG_PRINTF("UserSDCrd_SPI_handle_event error. Event: 0x%lx\n", event);
			configASSERT(!(MASTER_ERROR_MASK & event));            
		}
	}
}

void gpio_port12_ISR() {
	uint32_t Sys_SDCrd0_status = Cy_GPIO_GetInterruptStatus(Sys_SDCrd0_Detect_PORT, Sys_SDCrd0_Detect_NUM);
	uint32_t UserSDCrd_Detect_status = Cy_GPIO_GetInterruptStatus(UserSDCrd_Detect_PORT, UserSDCrd_Detect_NUM);
	/* Determine if one pin in the port generated interrupt. */
	if (Sys_SDCrd0_status == CY_GPIO_INTR_STATUS_MASK) {
		/* Clear pin interrupt logic. Required to detect next interrupt */    
		Cy_GPIO_ClearInterrupt(Sys_SDCrd0_Detect_PORT, Sys_SDCrd0_Detect_NUM);            
		if (sd_cards[0].card_detect_task) {
			BaseType_t xHigherPriorityTaskWoken;
			// BaseType_t xTaskNotify( TaskHandle_t xTaskToNotify,
			//                         uint32_t ulValue,
			//                         eNotifyAction eAction );    
			// Here, the ulValue is the card number.
			BaseType_t rc = xTaskNotifyFromISR(sd_cards[0].card_detect_task, 0, 
				eSetValueWithOverwrite, &xHigherPriorityTaskWoken);
			configASSERT(pdPASS == rc);
			/* Force a context switch if xHigherPriorityTaskWoken is now set to pdTRUE. */
			portYIELD_FROM_ISR( xHigherPriorityTaskWoken );    
		}
	}
	if (UserSDCrd_Detect_status == CY_GPIO_INTR_STATUS_MASK) {
		/* Clear pin interrupt logic. Required to detect next interrupt */    
		Cy_GPIO_ClearInterrupt(UserSDCrd_Detect_PORT, UserSDCrd_Detect_NUM);            
		if (sd_cards[0].card_detect_task) {  // Sharing
			BaseType_t xHigherPriorityTaskWoken;
			BaseType_t rc = xTaskNotifyFromISR(sd_cards[0].card_detect_task, 
				1,  // ulValue is the card number.
				eSetValueWithOverwrite, &xHigherPriorityTaskWoken);
			configASSERT(pdPASS == rc);
			/* Force a context switch if xHigherPriorityTaskWoken is now set to pdTRUE. */
			portYIELD_FROM_ISR( xHigherPriorityTaskWoken );    
		}
	}
}

/* Public functions */

sd_t *sd_get_by_name(const char *const name) {
		size_t i;
		for (i = 0; i < sizeof(sd_cards) / sizeof(sd_cards[0]); ++i) {
			if (0 == strcmp(sd_cards[i].pcName, name))
				break;
		}
		if (sizeof(sd_cards) / sizeof(sd_cards[0]) == i) {
			DBG_PRINTF("FF_SDDiskInit: unknown name %s\n", name);
			return NULL;
		}
		return &sd_cards[i];
}        

sd_t *sd_get_by_num(size_t num) {
	if (num <= sizeof(sd_cards) / sizeof(sd_cards[0])) {
		return &sd_cards[num];
	} else {
		return NULL;
	}
}        

/* [] END OF FILE */
